# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Coverage
# =========================
htmlcov/
.coverage

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Migrations cache (mantém migrations!)
# =========================
**/__pycache__/

# =========================
# Node (caso use depois)
# =========================
node_modules/